<h1><%= @employee.first_name + " " + @employee.last_name %></h1>
<ul>
<h2>Alias: <%= @employee.alias %></h2>
<h2>Title: <%= @employee.title %></h2>
<h2>Office: <%= @employee.office %></h2>
<h2>Picture: <img src="<%= @employee.img_url %>" alt="picture exists"></img</h2>
<h2>Dog: <%= @dog.name %></h2>

</ul>